@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';


html, body {
	height: 100%;
}
body {
	background-color: #fff;
	padding-top: 50px;
	position: relative;
	color: #eee;
}

section {
	min-height: 100%;
	padding-top: 10%;
	padding-bottom: 10%;
}

#side1, #side3 {
	background-color: rgba(0, 0, 0, .8);
}

.fill-screen {	
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

@media (max-width: 1024px) {
	.fill-screen {
		background-attachment: scroll;
	}
}
